@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
$quicksand: 'Quicksand', sans-serif;
$off-white: #F5F5F5;

html, body {
  background-color: $off-white;
  font-family: $quicksand;
  margin: 0;
}

.investrapp-root {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 100px 0px 100px;
}

.investrapp-title {
  text-align: center;
  font-size: 32px;
}

.searchbar-root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.searchbar-input {
  margin-top: 12px;
  width: 300px;
}
